@model odontoschedule_backand.Models.Consumo

@{
    ViewData["Title"] = "Details";
}

<h1>Dados de consumo</h1>

<div>
    <h4>Consumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.km)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.km)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.veiculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.veiculo.Nome)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
</div>
